header{
    background-color:#eee;
}
form{
    margin:50px auto;
}
.col-md-6{
    width:50;
}
#submit{
    margin-top: 10px;
}
link{
    margin-top:10px;
}
.card-title{
    background-color: pink;
    color: #eee;
    
}